<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Cocktails</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/style.css" />
  <!--<script src="main.js"></script>-->
</head>
<body>
  <h1>Cocktails</h1>
  <p class='alcoholSelector'>
    <a class="alcoholList" href='/'>all</a>
    <% for (let i=0; i < alcoholList.length; i++) { %>
      <a class="alcoholList" href=<%= `/?alcohol=${alcoholList[i]}`%>><%= alcoholList[i] %></a>
    <% } %>
    </p>
  <table>
    <tr>
      <th>NAME</th>
      <th>PRICE</th>
    </tr>
    <% for (let i=0; i < cocktails.length; i++) { %>
      <tr>
        <td class='alcohol'><b><%= cocktails[i].name %></b> <% if (!cocktails[i].isAlcoholic) { %>(non-alcoholic)<% } %><br>
          <%= `${cocktails[i].contains.join(', ')}` %>
        </td>
        <td class='price'>
          <%= cocktails[i].price %> Ft
        </td>
      </tr>
    <% } %>
  </table>
  <script>
    const td = document.querySelectorAll('td');
    td.forEach(td => {
      if (td.innerHTML.indexOf('BEER') != -1) {
        td.parentElement.setAttribute('class','beer');
      }
    });
  </script>
</body>
</html>